@use '../../styles/colors';
@use '../../styles/sizes';

.board {
	width: 375px;
	height: 667px;
	padding: sizes.$min-gap;
	box-sizing: content-box;
	border-radius: 3px;
	border: 1px solid colors.get('border-1');

	&__canvas {
		width: 100%;
		height: 100%;
		background: white;
		color: black;
	}
}